In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("car.csv")
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [3]:
columns = ["price","maintance","doors","persons","lug","safety","decision"]

In [4]:
df.columns = columns

In [5]:
df

      price maintance  doors persons    lug safety decision
0     vhigh     vhigh      2       2  small    med    unacc
1     vhigh     vhigh      2       2  small   high    unacc
2     vhigh     vhigh      2       2    med    low    unacc
3     vhigh     vhigh      2       2    med    med    unacc
4     vhigh     vhigh      2       2    med   high    unacc
...     ...       ...    ...     ...    ...    ...      ...
1722    low       low  5more    more    med    med     good
1723    low       low  5more    more    med   high    vgood
1724    low       low  5more    more    big    low    unacc
1725    low       low  5more    more    big    med     good
1726    low       low  5more    more    big   high    vgood

[1727 rows x 7 columns]

In [6]:
df["doors"].value_counts()

3        432
4        432
5more    432
2        431
Name: doors, dtype: int64

In [7]:
x = df.drop(["decision"], axis=1)
y = df["decision"]

In [8]:
x

      price maintance  doors persons    lug safety
0     vhigh     vhigh      2       2  small    med
1     vhigh     vhigh      2       2  small   high
2     vhigh     vhigh      2       2    med    low
3     vhigh     vhigh      2       2    med    med
4     vhigh     vhigh      2       2    med   high
...     ...       ...    ...     ...    ...    ...
1722    low       low  5more    more    med    med
1723    low       low  5more    more    med   high
1724    low       low  5more    more    big    low
1725    low       low  5more    more    big    med
1726    low       low  5more    more    big   high

[1727 rows x 6 columns]

In [9]:
y

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1722     good
1723    vgood
1724    unacc
1725     good
1726    vgood
Name: decision, Length: 1727, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [12]:
x_train

     price maintance doors persons    lug safety
580   high      high     3       4    med   high
1214   med       low     3       2  small    low
1664   low       low     3    more  small    low
661   high       med     2       4    med   high
587   high      high     3    more    med    low
...    ...       ...   ...     ...    ...    ...
835   high       low     4    more    big   high
1216   med       low     3       2  small   high
1653   low       low     3       2    big    med
559   high      high     2    more  small   high
684   high       med     3       4  small    med

[1208 rows x 6 columns]

In [13]:
x_test

      price maintance  doors persons    lug safety
1318    low     vhigh      2    more    med   high
124   vhigh      high      2       4    big   high
648    high       med      2       2  small    med
249   vhigh       med      3       2    big    med
1598    low       med  5more       2    big    low
...     ...       ...    ...     ...    ...    ...
906     med     vhigh      3       4    big    med
309   vhigh       med  5more       4    med    med
838    high       low  5more       2  small   high
1076    med      high  5more    more    big    low
1453    low      high      3    more    med   high

[519 rows x 6 columns]

In [14]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=["price","maintance","doors","persons","lug","safety"])

In [15]:
x_train = encoder.fit_transform(x_train)

In [16]:
x_test = encoder.fit_transform(x_test)

In [17]:
x_train

      price  maintance  doors  persons  lug  safety
580       1          1      1        1    1       1
1214      2          2      1        2    2       2
1664      3          2      1        3    2       2
661       1          3      2        1    1       1
587       1          1      1        3    1       2
...     ...        ...    ...      ...  ...     ...
835       1          2      4        3    3       1
1216      2          2      1        2    2       1
1653      3          2      1        2    3       3
559       1          1      2        3    2       1
684       1          3      1        1    2       3

[1208 rows x 6 columns]

In [18]:
x_test

      price  maintance  doors  persons  lug  safety
1318      1          1      1        1    1       1
124       2          2      1        2    2       1
648       3          3      1        3    3       2
249       2          3      2        3    2       2
1598      1          3      3        3    2       3
...     ...        ...    ...      ...  ...     ...
906       4          1      2        2    2       2
309       2          3      3        2    1       2
838       3          4      3        3    3       1
1076      4          2      3        1    2       3
1453      1          2      2        1    1       1

[519 rows x 6 columns]

In [19]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2, random_state=0)

In [20]:
tree.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=2, random_state=0)

In [21]:
y_train_pred = tree.predict(x_train)
y_test_pred = tree.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score
train_accuracy_tree = accuracy_score(y_train, y_train_pred)
test_accuracy_tree = accuracy_score(y_test, y_test_pred)

print("Train accuracy:",train_accuracy_tree)
print("Test accuracy:",test_accuracy_tree)

Train accuracy: 0.7508278145695364
Test accuracy: 0.7186897880539499